
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}
<style>
    p{
        color:blue;
    }
</style>
<div class="text-center">
    <section class="hero">
        <h1>Welcome to Our self help desk</h1>
        <p>Efficient and Effective service delivery</p>
        <a href="~/Tickets/Create" class="btn btn-primary mb-3">Create a New Ticket</a>

    </section>
    <!-- Features Section -->
    <section class="features">
        <div class="feature">
            <h2>Ticket Logging</h2>
            <p>Log issues or requests with ease using a simple interface.</p>
            <img src="~/images/ticketlogg.jpg" height="150" width="240">
        </div>
        <div class="feature">
            <h2>Real-time Ticket Tracking</h2>
            <p>Keep an eye on your ticket status in real-time.</p>
            <img src="~/images/ticket-tracking-system.png" height="150" width="240">
        </div>
        <div class="feature">
            <h2>Technician Dashboard</h2>
            <p>A centralized dashboard for technicians to manage tickets.</p>
            <img src="~/images/dashboard.jpg" height="150" width="240">
        </div>
        <div class="feature">
            <h2>Knowledge Base Access</h2>
            <p>Access articles to resolve common queries without waiting.</p>
            <img src="~/images/tips-tricks.jpg" height="150" width="240">
        </div>
    </section>

    <section class="register-options">
        <a href="/Account/Register" class="cta-button">Register as User</a>
        <a href="/Technicians/Create" class="cta-button">Register as Technician</a>
    </section>

</div>
